fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
passlib[argon2]
python-jose[cryptography]
pyjwt
pydantic
pydantic-settings
alembic
psycopg2-binary
pytest
pytest-asyncio
httpx
Pillow
python-multipart
structlog
python-slugify
starlette_admin
aiohttp
redis
dishka
sentence-transformers
elasticsearch<9.0.0,>=8.0.0
mypy
prometheus-fastapi-instrumentator
faker
taskiq[opentelemetry]
taskiq-redis
prometheus_client
mtcnn
tensorflow-cpu
fastapi-limiter