@import 'tailwindcss';

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

@layer base {
  a,
  button:not(:disabled),
  select,
  summary,
  [role='button'] {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }
}
